body {
    background-color: #EFFCFF;
    font-family: 'Playfair Display', serif;
    color: #206565;
}


// Navbar
.navbar-brand {
    img {
        max-height: 45px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #94DAEA;
            font-family: 'Assistan', sans-serif;

            &.active {
                font-weight: bold;
                color: #94DAEA !important;
            }

            &:hover {
                color: #c6f5ff;
            }
        }
    }
}

// Header
header {
    padding: 300px 0 165px;
    margin-top: -300px;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23effcff' fill-opacity='1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    h1,
    p {
        color: #206565;
    }

    h1 {
        font-family: 'Signika', sans-serif;
        font-weight: bold;
        font-size: 50px;
        color: #206565;
        line-height: 50px;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: normal;
        font-size: 28px;
    }

    img {
        width: 100%;
    }
}

// Statistics
.section-stats {
    margin-top: -75px;


    .stats-detail {
        padding-top: 15px;
        background: rgba(255, 255, 255, 0.99);
    }

    h2 {
        margin-top: 5px;
        font-family: "Signika", serif;
        font-weight: 600;
        font-size: 16px;
    }

    p {
        font-family: "Signika", serif;
        font-weight: 300;
        font-size: 14px;
        color: #206565;
        margin-top: -10px;
    }
}

// Section About Heading
.section-about-heading {
    background: linear-gradient(rgba(255, 255, 255, 0.53) 0%, rgba(252, 252, 252, 0.83) 100%);
    padding-top: 170px;
    min-height: 506px;
    margin-top: -60px;

    h2 {
        font-family: "Signika", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-family: 'Assistan', serif;
        font-size: 20px;
    }
}

// Section About
.section-about {
    margin-top: -150px;
    padding-bottom: 50px;

    .card-about {
        background: #effcff;
        border: 0;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .about-content {
            min-height: 240px;
        }

        h3 {
            margin-top: -10px;
            font-family: 'signika', sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: #206565;

        }

        p {
            margin-top: -10px;
            font-family: 'Assistant', serif;
            font-weight: normal;
            font-size: 20px;
            color: #206565;
        }

        hr {
            margin-top: -10px;
            border: 3px solid #f8feff;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

// Section Layanan Kami
.section-services-heading {
    padding-top: 260px;
    min-height: 506px;
    margin-top: -210px;
    background-color: #effcff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    h2 {
        font-family: "Signika", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-family: 'Assistan', serif;
        font-size: 20px;
    }
}

.services-content {
    margin-top: -100px;
    background-color: #effcff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


    .content {

        h1 {
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: 28px;
        }

        h2 {
            font-family: 'Assistan', serif;
            font-weight: lighter;
            font-size: 21px;
        }
    }
}

// Section Pricing Heading
.section-pricing-heading {
    background-color: #effcff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-top: 150px;
    min-height: 506px;

    h2 {
        margin-top: -60px;
        font-family: "Signika", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-family: 'Assistan', serif;
        font-size: 20px;
    }
}

// Section Pricing Content
.section-pricing-content {
    margin-top: -300px;
    margin-bottom: 100px;

    .pricing {
        .tipe {
            h2 {
                text-shadow: 1px 1px 1px #e9e9e9;
                font-family: 'Signika';
                font-size: 25px;
            }

            p {
                margin-top: -10px;
                font-family: 'Signika';
                font-weight: 300;
                color: #a9a9a9;
                font-size: 14px;
            }
        }

        .judul {
            background: linear-gradient(rgba(255, 255, 255, 0.53) 0%, rgba(252, 252, 252, 0.83) 100%);

            h2 {
                text-shadow: 1px 1px 1px #e9e9e9;
                font-family: 'Signika', serif;
                font-weight: bold;
                font-size: 40px;

                sup {
                    font-size: 19px;
                }
            }

            p {
                margin-top: -12px;
                font-weight: lighter;
                font-size: 14px;
            }
        }

        .card-pricing {
            margin-top: -16px;
            border: 0;
            border-radius: 0;

            p {
                font-family: 'Assistan', serif;
            }

            hr {
                margin-left: 45px;
                margin-right: 45px;
            }

        }

        .join-container {
            margin-top: -16px;

            .btn-pricing {
                font-family: 'Signika';
                background: linear-gradient(rgba(255, 255, 255, 0.53) 0%, rgba(252, 252, 252, 0.83) 100%);
                border-radius: 0;

                &:hover {
                    background-color: #effcff;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
                    color: #5de1ff;
                }
            }
        }
    }

}



// Section Portfolio Heading
.section-portfolio-heading {
    padding-top: 60px;
    min-height: 506px;
    background: linear-gradient(rgba(255, 255, 255, 0.53) 0%, rgba(252, 252, 252, 0.83) 100%);

    h2 {
        font-family: "Signika", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-family: 'Assistan', serif;
        font-size: 20px;
    }
}

.card-gallery {
    margin-bottom: 100px;
    background-color: #effcff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-top: -20px;
    padding: 30px 30px 15px 30px;

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 6px solid #1a4c93;
                box-shadow: none;
            }
        }
    }
}

// Section Testimonial
.section-testimonial-heading {
    padding-top: 60px;
    min-height: 306px;
    background-color: #effcff;

    h2 {
        font-family: "Signika", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-family: 'Assistan', serif;
        font-size: 20px;
    }

    .col-center {
        margin: 0 auto;
        float: none !important;
    }

    .carousel {
        margin: 50px auto;
        padding: 0 60px;
    }

    .carousel-item {
        color: #206565;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
    }

    .carousel .item .img-box {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        padding: 5px;
        border-radius: 50%;
    }

    .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
    }

    .carousel .testimonial {
        padding: 30px 0 10px;
    }

    .carousel .overview {
        b {
            text-transform: uppercase;
            font-family: 'Signika', serif;
            color: #206565;
        }
    }

    .carousel .carousel-control {
        width: 40px;
        height: 40px;
        top: 50%;
        background: none;
    }

    .carousel-control i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: #206565;
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }

    .carousel .carousel-indicators {
        bottom: -40px;
    }

    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 1px 3px;
        border-radius: 50%;
    }

    .carousel-indicators li {
        background: #999;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    .carousel-indicators li.active {
        background: #555;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }

}

// Section Faq Heading
.section-faq-heading {
    padding-top: 60px;
    min-height: 506px;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23effcff' fill-opacity='1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    h2 {
        font-family: "Signika", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-family: 'Assistan', serif;
        font-size: 20px;
    }

    .accordion {
        margin-top: -40px;
        margin-bottom: 100px;

        .card {
            border: 0;

            &:hover {
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
            }

            .head {
                background-color: #effcff;
                border: 0;

                h2 {
                    a {
                        text-decoration: none;
                        color: #206565;
                    }
                }
            }

            .isi {
                font-size: 16px;
                font-family: 'Signika', serif;
                font-weight: lighter;
            }
        }

    }
}

// Section Contact
.section-contact-heading {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23effcff' fill-opacity='1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    h2 {
        font-family: "Signika", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-family: 'Assistan', serif;
        font-size: 20px;
    }

    .contact-content {
        margin-top: -30px;

        .info {
            h4 {
                font-family: "Signika", sans-serif;
                font-weight: bold;
                font-size: 24px;
            }

            .icon-sosmed {
                color: #71d1e4;
            }
        }

        p {
            font-family: 'Assistan', serif;
            font-size: 20px;
        }

        .form-contact {
            border: 0;

            font-family: 'Signika';

            &:hover {
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            }

        }

        .btn-contact {
            background-color: #effcff;
            font-family: 'Signika';

            &:hover {
                background-color: #effcff;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
                color: #5de1ff;
            }
        }
    }
}

// Footer
.footer {
    font-family: 'Signika', serif;
    font-weight: bold;
    font-size: 18px;
}